﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="html">
    <input type="text" id="txt" class="form-control" name="name" value="" placeholder="Entrer une chaîne de caractères" />
    <br />
    <div class="text-center">
        <button id="submit" onclick="upper()" class="btn btn-primary">Valider</button>
        <br />
        <br />
        <label>Chaîne en majuscule : </label>
        <b><label id="uppered"></label></b>
    </div>
</div>

<script>

    function upper() {

        $.ajax({
            type: "GET",
            data: { str: $("#txt").val() },
            url: '../Home/GetUpper',
            success: function (response) {
                console.log('data :' + response)
                $("#uppered").text(response)
            },
            error: function (response) {
                console.log(response);
            }
        });

    }

</script>